body {
    height:100%;
    font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.sectionone {
    background-color:#1f2937;
    width:100%;
    padding-top:20px;
    padding-left:8px;
    padding-right:8px

}


.header {
    display:flex;
    justify-content: center;
    gap:500px

}

.logo {
    font-size:24px;
    color:#F9FAF8;
    font-weight:bold;
    padding-right:40px;
    flex-shrink:0
}

.right-links {
    display:flex;
    gap:20px;
    font-size:18px;
    color: #e5e7eb;
    flex-shrink:0
}

.awesome {
    font-size:48px;
    color:#F9FAF8;
    font-weight:bolder
}

.subtext {
    font-size:18px;
    color: #E5E7EB;
    padding-top:10px;
    padding-bottom:10px
}

.placeholder {
    display:flex;
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width:500px;
    background-color:grey;
    align-items:center;
    justify-content:center;
    height:230px;
    flex-shrink:0;
    margin-right:10px;
    margin-bottom:100px;
    border-radius:2px
}

.words {
    padding-top:100px;
    display:flex;
    gap:150px;
    justify-content:center;

}

.left-text {
    width:450px;
    flex-shrink:0;
}

.button {
    background-color:#3882F6;
    padding:10px;
    color:white;
    width:100px;
    font-weight:bold;
    border-radius:10px;
    text-align:center;
    margin-top:5px
}

.sectiontwo {
    background-color:white;
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
    align-content:center;
    width:100%;
}

.headertwo {
    font-size:36px;
    font-weight:bolder;
    color:hsl(215, 28%, 17%);
    padding:50px;
    white-space:nowrap
}

.imageholders {
    justify-content:center;
    display:flex;
    width:750px;
    margin-bottom:50px;
    gap:20px

}

.box{
    height:150px;
    width:150px;
    border: solid #3882f6;
    border-radius:15px;
}

.boxone {
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
    gap:20px
}

.imagetext {
    padding-top:10px;
}

.sectionthree {
    width:100%;
    background-color:#E5E7EB;
    padding:8px;
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
    
}

.sectionthreetext {
    align-items:center;
    width:750px;
    padding-top:70px;
    font-size: 36px;
    color:#1F2937;
    font-style:italic;
    font-weight:lighter;
}

.signature {
    color:#1f2937;
    font-size:20px;
    font-weight:bold;
    font-style:italic;
    padding:25px;
    display:flex;
    width:750px;
    justify-content:right
    
}

.sectionfour {
    margin:100px;
}

.calltoaction {
    display:flex;
    background-color:#3882F6;
    padding: 50px 150px;
    border-radius:10px;
    color: #F9FAF8;
    align-items:center;
    gap:30px
}

.ctatoptext {
    font-size:25px;
    font-weight:bold;
}

.signup {
    display:flex;
    justify-content:center;
    align-items:center;
    width:100px;
    height:30px;
    border: solid #F9FAF8;
    border-radius:5px;
    border-width: thin;
    font-weight:bold
}

.sectionfive {
    background-color: #1f2937;
    color:#F9FAF8;
    width:100%;
    padding:50px 8px;
    align-items:center;
    justify-content:center;
    display:flex;
}