body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.sectionone {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color:#1f2937;
    width:100%;
    padding-top:20px;
    padding-left:8px;
    padding-right:8px

}


.header {
    display:flex;
    justify-content: center;
    gap:500px

}

.logo {
    font-size:24px;
    color:#F9FAF8;
    font-weight:bold;
    padding-right:40px;
    flex-shrink:0
}

.right-links {
    display:flex;
    gap:20px;
    font-size:18px;
    color: #e5e7eb;
    flex-shrink:0
}

.awesome {
    font-size:48px;
    color:#F9FAF8;
    font-weight:bolder
}

.subtext {
    font-size:18px;
    color: #E5E7EB
}

.placeholder {
    display:flex;
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width:500px;
    background-color:grey;
    align-items:center;
    justify-content:center;
    height:250px;
    flex-shrink:0;
    margin-right:10px;
    margin-bottom:100px
}

.words {
    padding-top:100px;
    display:flex;
    gap:150px;
    justify-content:center;

}

.left-text {
    width:450px;
    flex-shrink:0
}

.button {
    background-color:#3882F6;
    padding:10px;
    color:white;
    width:100px;
    font-weight:bold;
    border-radius:10px;
    text-align:center;
    margin-top:5px
}

.sectiontwo {
    background-color:white;
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
    align-content:center;
    width:100%;
}

.headertwo {
    font-size:36px;
    font-weight:bolder;
    color:hsl(215, 28%, 17%);
    padding:50px;
    white-space:nowrap
}

.imageholders {
    justify-content:center;
    display:flex;
    width:1000px;
    margin-bottom:50px

}

.box{
    height:200px;
    width:200px;
    border: solid #3882f6;
    border-radius:15px
}

.boxone {
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
}

.imagetext {
    padding-left:40px;
    padding-right:40px;
    padding-top:10px;
}
